
.H1 {
    color: blue; 
    background-color: yellow;
}

.H1-2 {
    color: rgb(175, 25, 50); 
    background-color: rgb(174, 174, 150);
}


#H1 {
    color: rgb(253, 143, 10); 
    background-color: rgb(25, 25, 22);
}

#H1-2 {
    color: rgb(135, 135, 250); 
    background-color: rgb(106, 106, 20);
}


.Paragraph {
    background-color: grey;
}


#Paragraph-1 {
    color: rgb(5, 5, 26); 
}
